/* Git Workflow Simulation Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #000000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff7db1;
    border: none;
    color: white;
    border-radius: 5px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 60%;
    border-radius: 8px;
}

